{% extends "index.html" %}
{% block body %}

<h1 id= "contactResponse"> Thank you {{Name}} for submitting a response, please wait for an email in a couple of days to the email:<br>
 {{Email}}<br>
 If you wish to get to know me further, check out my Facebook and Instagram accounts below!!
</h1>
	<div id= "contact"><br>Contact Me:
					<br>
		Email: omarkhatib@rfs.edu.ps
			<br>
			<br>
				<a href="https://www.facebook.com/omarsk111" target="_blank">
					<img src="../static/facebookicon.png" width="50" height="50"></a> 
				<a href="https://www.instagram.com/omar.khatib_01/?hl=en" target="_blank">
					<img src="../static/instagramicon.png" width="50" height="50"></a>
				</div>
 {% endblock %}