{% extends "index.html" %}
{% block body %}
		<img class="photo1" src="../static/Omar.jpg" width="370" height="270" >
		<h2 id = "about"> "I am Omar Khatib. An inspired Palestinian teenager, student, enterpreneur and athlete. Passionate to contribute to my society towards a better future. Searching for my destiny whatever & wherever it is..."
			<br>
			<br> Get to Know ME!!</h2>
			<div id= "contact"><br>Contact Me:
					<br>
		Email: omarkhatib@rfs.edu.ps
			<br>
			<br>
				<a href="https://www.facebook.com/omarsk111" target="_blank">
					<img src="../static/facebookicon.png" width="50" height="50"></a> 
				<a href="https://www.instagram.com/omar.khatib_01/?hl=en" target="_blank">
					<img src="../static/instagramicon.png" width="50" height="50"></a>
				</div>
</html>
{% endblock %}