<!DOCTYPE html>
<html>
	<head>
		<title>	{{title}}	</title>
		<link rel="stylesheet" type = "text/css" href="../static/main.css">
		</head>
	<body class="background"; style = "margin-left:0px;">
		<nav>
	  		<div id="menubar">
        	<ul id="nav">
         		<li ><a href="home.html">Home</a></li>
          		<li><a href="about.html">About Me</a></li>
          		<li><a href="Articles.html">My Work</a></li>
          		<li><a href="contactme.html">contact me</a></li>

        	</ul>	
      		</div>	
    		</nav>
		<h1 id="text1">
			<div id="header">
			Omar Khatib
				<img class="fbsimg" src="../static/fbs.png" width="230" height="90"></a>
				<img id = "sourceimg" src="../static/source.png" width="90" height="90">
				<img id = "nayzakimg" src="../static/nayzak.png" width="180" height="90">
				<img id = "wecodeimg" src="../static/wecode.png" width="200" height="90">
			</div></h1>
			{% block body %}{% endblock %}

			
	</body>